/* general styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

/* footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-logo img {
    height: 40px;  /* adjust the height of the logo */
    width: auto;   /* maintain the aspect ratio */
}

/* form logo - Uni Club*/
.logo-img {
    height: 70px; /* adjust the height of the image logo */
}

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1100px;
}

.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #0B1F63;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333;
}

/* for the top of the page names */
nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #0B1F63;
    font-size: 16px;
}

.auth-buttons button {
    border: 1px solid #0B1F63;
    background-color: #0B1F63;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #333;
    color: #fff;
}

/* for the top of the page names: divider of the headers */
a {
    color: #0B1F63;
    text-decoration: none;
}

.divider {
    color: #ddd;
    font-size: 20px;
}

/* main content styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background-color: #f9f9f9;
}