/* general styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

/* footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-logo img {
    height: 40px;  /* adjust the height of the logo */
    width: auto;   /* maintain the aspect ratio */
}

/* form logo - Uni Club*/
.logo-img {
    height: 70px; /* adjust the height of the image logo */
}

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1100px;
}

.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #0B1F63;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333;
}

/* for the top of the page names */
nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #0B1F63;
    font-size: 16px;
}

.auth-buttons button {
    border: 1px solid #0B1F63;
    background-color: #0B1F63;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #333;
    color: #fff;
}

/* for the top of the page names: divider of the headers */
a {
    color: #0B1F63;
    text-decoration: none;
}

.divider {
    color: #ddd;
    font-size: 20px;
}

/* main content styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background-color: #f9f9f9;
}





/* general styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

/* footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-logo img {
    height: 40px;  /* adjust the height of the logo */
    width: auto;   /* maintain the aspect ratio */
}

/* form logo - Uni Club*/
.logo-img {
    height: 70px; /* adjust the height of the image logo */
}

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1100px;
}

.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #0B1F63;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333;
}

/* for the top of the page names */
nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #0B1F63;
    font-size: 16px;
}

.auth-buttons button {
    border: 1px solid #0B1F63;
    background-color: #0B1F63;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #333;
    color: #fff;
}

/* for the top of the page names: divider of the headers */
a {
    color: #0B1F63;
    text-decoration: none;
}

.divider {
    color: #ddd;
    font-size: 20px;
}

/* main content styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background-color: #f9f9f9;
}





/* form Logo - İstanbul Medipol University*/
.form-logo {
    text-align: center; /* center the logo */
    margin-bottom: 20px; /* add some space below the logo */
}

.form-logo .logo-img {
    width: 150px; /* set the desired size for the logo */
    height: auto; /* keep aspect ratio */
}

/* background for logIn.html */
.myProfile main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background: linear-gradient(to bottom, rgba(0,0,0,0.9),transparent), /*background rengini koylaştırdık*/
    url(/static/pictures/myProfile.jpg)  no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* logIn.html stuff */
.profile-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-form h2 {
    text-align: center;
    margin-bottom: 10px;
}

.profile-form label {
    font-size: 14px;
    color: #555;
}

.profile-form input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* user type part for the logIn.html and signIn.html */
.user-type {
    margin-top: 10px; /* adds space at the top */
}

.user-type label {
    margin-right: 20px; /* adjust the gap between */
    justify-content: center; /* centers radio buttons horizontally */
}
