<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniClubs</title>
    <link rel="stylesheet" href="/static/clubs.css">
</head>
<body class = "clubs-page"> <!-- class type added -->
    <header>
        <div class="logo">
            <img src="/static/pictures/logo.png" alt="Logo" class="logo-img"> <!-- class type added -->
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..." aria-label="Search">
            <button type="button">🔍</button>
        </div>
        <nav>
            <a href="events">Events</a>
            <span class="divider">|</span>
            <a href="clubsPage1">Clubs</a>
            <span class="divider">|</span>
            <a href="myProfile">My Profile</a>
            <span class="divider">|</span>
            <div class="auth-buttons">
                <a href="signIn">
                    <button type="button">Sign In</button>
                </a>
                <a href="logIn">
                    <button type="button">Log In</button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="clubs-container">
            <h2>University Clubs</h2>
            <div class="clubs-grid">
                <div class="club-card">
                    <h3>Medipol GDSC</h3>
                    <p class="justify">The GDSC Club at Medipol focuses on empowering students in tech and development. Through projects, workshops, and hackathons, members gain skills in software development, coding, and emerging technologies.</p>
                    <p>Year Of Establishment: 2021-2022</p>
                    <p>Club President: Damla Dikel</p>
                    <p>Club President Email: damla.dikel@std.medipol.edu.tr</p>
                    <p>First Advisor: Mehmet Kemal Özdemir (Prof. Dr.)</p>
                    <p>Second Advisor: Selim Akyokuş (Prof. Dr.)</p>
                    <p>Affiliated Faculty: Faculty of Engineering and Natural Sciences</p>
                    <div class="button-container">
                        <div class="club-actions">
                            <button class="join-btn" data-club-id="1" data-user-role="student">Join</button>
                            <button class="remove-btn" data-club-id="1" data-user-role="student">Remove</button>
                        </div>                        
                    </div>
                </div>                              
                <div class="club-card">
                    <h3>Medipol IEEE</h3>
                    <p class="justify">The IEEE Club at Medipol connects students interested in engineering and technology. It hosts seminars, technical competitions, and industry events to help members network and advance their knowledge.</p>
                    <p>Year Of Establishment: 2015-2016</p>
                    <p>Club President: Eren Sadıkoğlu</p>
                    <p>Club President Email: erensadikoglu@hotmail.com</p>
                    <p>First Advisor: Hüseyin Şerif Savcı (PhD, Lecturer)</p>
                    <p>Second Advisor: Mehmet Kocatürk (PhD, Lecturer)</p>
                    <p>Affiliated Faculty: Faculty Of Engineering And Natural Sciences</p>
                    <div class="button-container">
                        <button>Join</button>
                        <button>Remove</button>
                    </div>
                </div>
                <div class="club-card">
                    <h3>Medipol Blockchain Community</h3>
                    <p class="justify">The Blockchain Community at Medipol focuses on educating and promoting awareness about blockchain technology. The club organizes seminars, workshops, and hands-on activities to explore the applications and potential of blockchain in various industries.</p>
                    <p>Year Of Establishment: 2022-2023</p>
                    <p>Club President: Vusal Ismayilov</p>
                    <p>Club President Email: woosal@protonmail.com</p>
                    <p>First Advisor: Nurullah Mahmut Dündar (Lecturer)</p>
                    <p>Second Advisor: Mehmet Kemal Özdemir (Prof. Dr.)</p>
                    <p>Affiliated Faculty: Faculty of Engineering and Natural Sciences</p>
                    <div class="button-container">
                        <button>Join</button>
                        <button>Remove</button>
                    </div>
                </div>
                <div class="club-card">
                    <h3>Medipol Environmental Club</h3>
                    <p class="justify">The Environmental Club at Medipol is dedicated to raising awareness about environmental issues and promoting sustainable practices. The club organizes events, campaigns, and educational activities to engage students in environmental conservation and sustainability efforts.</p>
                    <p>Year Of Establishment: 2017-2018</p>
                    <p>Club President: Aysu Tamer</p>
                    <p>Club President Email: aysu.tamer@std.medipol.edu.tr</p>
                    <p>First Advisor: Yeter Demir Uslu (Prof. Dr.)</p>
                    <p>Second Advisor: Vefa Okumuş (Dr. Lecturer)</p>
                    <p>Affiliated Faculty: Faculty of Engineering and Natural Sciences</p>
                    <div class="button-container">
                        <button>Join</button>
                        <button>Remove</button>
                    </div>
                </div>                                
                <div class="club-card">
                    <h3>Medipol Operations Research Club</h3>
                    <p class="justify">The Operations Research Club at Medipol focuses on applying mathematical and analytical methods to solve complex decision-making problems. The club engages students in workshops, seminars, and projects related to operations research, optimization, and data analysis techniques.</p>
                    <p>Year Of Establishment: 2018-2019</p>
                    <p>Club President: Gülce Karaçay</p>
                    <p>Club President Email: gulce.karacay@std.medipol.edu.tr</p>
                    <p>First Advisor: Erol Yeşilsırt (Lecturer)</p>
                    <p>Second Advisor: Melis Almula Karadayı (Assoc. Prof. Dr.)</p>
                    <p>Affiliated Faculty: Faculty of Engineering and Natural Sciences</p>
                    <div class="button-container">
                        <button>Join</button>
                        <button>Remove</button>
                    </div>
                </div>                
                <div class="club-card">
                    <h3>Medipol Construction Club</h3>
                    <p class="justify">The Construction Club at Medipol focuses on enhancing students' knowledge and skills in the field of construction and civil engineering. The club organizes workshops, field trips, and seminars to provide hands-on experience and deepen the understanding of construction projects and techniques.</p>
                    <p>Year Of Establishment: 2018-2019</p>
                    <p>Club President: İbrahim Çevikgil</p>
                    <p>Club President Email: ibrahim.cevikgil@std.medipol.edu.tr</p>
                    <p>First Advisor: Atakan Mangır (Lecturer)</p>
                    <p>Second Advisor: Zekai Şen (Prof. Dr.)</p>
                    <p>Affiliated Faculty: Faculty of Engineering and Natural Sciences</p>
                    <div class="button-container">
                        <button>Join</button>
                        <button>Remove</button>
                    </div>
                </div>                               
            </div>
            <div class="pagination">
                <a href="clubsPage1">&larr; Previous</a>
                <a href="clubsPage1">1</a>
                <a href="clubsPage2">2</a>
                <a href="clubsPage2">Next &rarr;</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-logo">
            <img src="/static/pictures/logo.png" alt="Logo">
        </div>
    </footer>
</body>
</html>
